@width: 100vw/1920px;
@height: 100vh/960px;

.table-container {
  height: 700px * @height;
  overflow: auto;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td,
.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
  padding: 12px * @height 16px * @width;
  font-size: 14px * @width;
  color: #636569;
  font-family: PingFangSC-Regular, PingFang SC;
}

.ant-btn-sm {
  font-size: 12px * @width;
  padding: 0;
}