@width: 100vw/1920px;
@height: 100vh/960px;

.main-layout {
  height: 100vh;

  .main-layout-right {
    height: 100vh;
  }

  .main-layout-content {
    height: 100%;
    background-color: #fff;
    // background-color: rgba(255, 255, 255, .1);
    padding: 4px * @height 0;

    .content-box {
      height: 100%;
      width: 100%;
      overflow-y: auto;
    }
  }
}


