.main-layout-header {
  background-color: #fff;
  height: 3.125rem;
  box-shadow: 2px 0 6px 4px rgba(26, 37, 51, 0.1);
  line-height: 3.125rem;
  padding-left: 0.625rem;
  text-align: left;

  .header-content {
    width: 100%;


    .nav-items {
      color: #333;
      border-radius: 1.25rem;
      margin: 0 0.625rem;
      display: inline-block;
      
      height: 1.875rem;
      line-height: 1.875rem;
      // width: 100px;
      padding: 0 1.25rem;
      text-align: center;

      &:hover {
        color: #3B82FF;
        background-color: #EBEBED;
      }
    }
  }
}