@font-face {
  font-family: 'iconfont';  /* project id 1994225 */
  src: url('//at.alicdn.com/t/font_1994225_d1hbjcjtcf.eot');
  src: url('//at.alicdn.com/t/font_1994225_d1hbjcjtcf.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1994225_d1hbjcjtcf.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1994225_d1hbjcjtcf.woff') format('woff'),
  url('//at.alicdn.com/t/font_1994225_d1hbjcjtcf.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1994225_d1hbjcjtcf.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tongji:before {
  content: "\e648";
}

.icon-teach-info:before {
  content: "\e62d";
}

.icon-me:before {
  content: "\e6bb";
}

.icon-del:before {
  content: "\e612";
}

.icon-show:before {
  content: "\e606";
}

.icon-UserSettings:before {
  content: "\e600";
}

.icon-teacher:before {
  content: "\e60b";
}

.icon-modify:before {
  content: "\e655";
}

.icon-Group:before {
  content: "\e7dd";
}

.icon-me1:before {
  content: "\e61f";
}

.icon-course:before {
  content: "\e72b";
}

.icon-search:before {
  content: "\e601";
}

.icon-student:before {
  content: "\e613";
}

.icon-add:before {
  content: "\e646";
}

.icon-Student:before {
  content: "\e678";
}

.icon-major:before {
  content: "\e602";
}

.icon-grade:before {
  content: "\e8d6";
}

.icon-class:before {
  content: "\e623";
}

.icon-me:before {
  content: "\e6bb";
}

.icon-del:before {
  content: "\e612";
}

.icon-show:before {
  content: "\e606";
}

.icon-UserSettings:before {
  content: "\e600";
}

.icon-teacher:before {
  content: "\e60b";
}

.icon-modify:before {
  content: "\e655";
}

.icon-Group:before {
  content: "\e7dd";
}

.icon-me1:before {
  content: "\e61f";
}

.icon-course:before {
  content: "\e72b";
}

.icon-search:before {
  content: "\e601";
}

.icon-student:before {
  content: "\e613";
}

.icon-add:before {
  content: "\e646";
}

.icon-Student:before {
  content: "\e678";
}

.icon-major:before {
  content: "\e602";
}

.icon-grade:before {
  content: "\e8d6";
}

.icon-class:before {
  content: "\e623";
}

.icon-user:before {
  content: "\e622";
}

.icon-Windows:before {
  content: "\edd4";
}

.icon-settings:before {
  content: "\e699";
}

.icon-increase:before {
  content: "\e69f";
}

.icon-home:before {
  content: "\e608";
}

.icon-icon-test:before {
  content: "\e633";
}

.icon-icon-test1:before {
  content: "\e634";
}

.icon-icon-test2:before {
  content: "\e635";
}

.icon-icon-test3:before {
  content: "\e636";
}

.icon-icon-test4:before {
  content: "\e637";
}

.icon-icon-test5:before {
  content: "\e638";
}

.icon-icon-test6:before {
  content: "\e639";
}

.icon-icon-test7:before {
  content: "\e63a";
}

.icon-icon-test8:before {
  content: "\e63b";
}

.icon-icon-test9:before {
  content: "\e63c";
}

.icon-icon-test10:before {
  content: "\e63d";
}

.icon-icon-test11:before {
  content: "\e63e";
}

.icon-icon-test12:before {
  content: "\e63f";
}

.icon-icon-test13:before {
  content: "\e640";
}

.icon-icon-test14:before {
  content: "\e641";
}

.icon-icon-test15:before {
  content: "\e642";
}

.icon-icon-test16:before {
  content: "\e643";
}

.icon-icon-test17:before {
  content: "\e644";
}

.icon-icon-test18:before {
  content: "\e645";
}

.icon-icon-test19:before {
  content: "\e64a";
}

.icon-icon-test20:before {
  content: "\e64c";
}

.icon-icon-test21:before {
  content: "\e64d";
}

.icon-icon-test22:before {
  content: "\e64e";
}

.icon-icon-test23:before {
  content: "\e64f";
}

.icon-icon-test24:before {
  content: "\e650";
}

.icon-icon-test25:before {
  content: "\e651";
}

.icon-icon-test26:before {
  content: "\e652";
}

.icon-icon-test27:before {
  content: "\e653";
}

.icon-icon-test28:before {
  content: "\e654";
}

.icon-icon-test29:before {
  content: "\e658";
}

.icon-icon-test30:before {
  content: "\e659";
}

.icon-icon-test31:before {
  content: "\e65a";
}

.icon-icon-test32:before {
  content: "\e65b";
}

.icon-icon-test33:before {
  content: "\e65c";
}

.icon-icon-test34:before {
  content: "\e664";
}

.icon-icon-test35:before {
  content: "\e665";
}

.icon-close:before {
  content: "\e6dc";
}

.icon-schedule:before {
  content: "\e6e2";
}

.icon-chuangzuo:before {
  content: "\e8ad";
}

.icon-chenggong:before {
  content: "\e8ae";
}

.icon-dianhua:before {
  content: "\e8af";
}

.icon-dingdan:before {
  content: "\e8b0";
}

.icon-jianshao:before {
  content: "\e8b1";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-shuju:before {
  content: "\e8b9";
}

.icon-shuaxin:before {
  content: "\e8ba";
}

.icon-jianshao1:before {
  content: "\e8c5";
}

.icon-shijian:before {
  content: "\e8c6";
}

.icon-zengjia:before {
  content: "\e8c8";
}

.icon-chuangzuo1:before {
  content: "\e8ca";
}

.icon-meeting:before {
  content: "\e6ec";
}

.icon-gohome:before {
  content: "\e6eb";
}

.icon-share:before {
  content: "\e6ee";
}