@width: 100vw/1920px;
@height: 100vh/960px;

.pagenation-container {
  width: 100%;
  position: absolute;
  bottom: 20px * @height;
  background-color: #fff;
  // height: 44px * @height;
  // line-height: 44px * @height;
  font-size: 14px * @width;
}

// .ant-pagination.mini .ant-pagination-item {
//   min-width: 30px * @width;
// }