.teach{
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        div{
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .target{
            border-bottom: 1px solid rgb(240, 240, 240);
        }
    }
}
