.teach {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        div {
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .target {
            border-bottom: 1px solid rgb(240, 240, 240);
        }
    }
}

.assessment {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        div {
            height: 33.3%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .target {
            border-bottom: 1px solid rgb(240, 240, 240);
        }
    }
}

#init {
    display: flex;
    justify-content: space-between;

    .title {
        font-weight: 700;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
    }
}

.examine-wrap {
    .title1 {
        font-weight: bold;
        margin: 15px 0px;
        font-size: 14px;
    }

    .title2 {
        font-weight: 500;
        margin: 10px 0px;
        text-indent: 20px;
    }

    .title3,
    .title4 {
        text-indent: 40px;
    }

    .ant-col {
        min-height: 35px;
        border: 1px solid #ccc;
        line-height: 35px;
        text-align: center;
    }

    .ant-space-align-center {
        float: right;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}