@width: 100vw/1920px;
@height: 100vh/960px;

.main-left-slider {
  height: 100vh;
  box-shadow: 2px 0 6px 4px rgba(84, 103, 128, 0.31);
  padding-top: 0;
  font-size: 16px * @height;
  width: 200px * @width;

  .main-logo {
    height: 60px * @height;
    display: flex;
    justify-content: center;

    .logo {
      height: 80%;
      width: 80%;
    }
  }

  .menu-icon {
    color: '#000';
    font-weight: 700;
    font-size: 16px * @width;
    margin-right: 12px * @width;
  }
}

